@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

body {
  background-color: $favColor;
  width: 90%;
  margin: auto;
}

h1, h2 {
  color: white;
}

.description {
  line-height: 1;
}

.mushroomPic {
  max-height: 250px;
}
