@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

body {
  background-color: $favColor;
}

.encounter-title {
  color: white;
}
.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}
