@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

body {
  background-color: $lightGreen;
  width: 94%;
  margin: auto;
}

h1, h2 {
  color: white;
}

.container {
  border: solid 5px $darkGreen;
  width: 45%;
  padding: 10px;
}

.description {
  line-height: 1;
}

.mushroomPic {
  max-height: 250px;
}


// MAGIC MUSHROOM ANIMATION DEFINE HERE:
.funAnimation {
  height: 250px;
  width: 500px;
  margin: 0 auto;
  background-color: red;
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: darkorange;
    border-radius: 100%;
  }
  50% {
    background-color: gold;
  }
  100% {
    transform: scale(1.5);
    background-color: darkorange;
  }
}

// END ANIMATION CSS

.skull {
  color: darkred;
  width: 500px;
  height: 500px;
  font-size: 3em;
  border: solid 20px black;
}

.skullIcon {
  font-size: 5em;
}

.skullAnimation {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: grey;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: black;
  }
}
